@media all and (max-width:575px) {
    .mobile-menu {
        width: 100%;
        z-index: 9;
    }
    .navigation {
        width: 100%;
        height: 100vh;
        background-color: #062f6a;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
        transform-origin: top left;
        overflow: auto;
        li {
            width: 100%;
            margin: 10px 0px;
            text-align: center;
        }
        a{
            color: #aaa;
            transition: all 300ms linear;
            &:hover {
                color: #fff;
            }
        }
    }
    .EN {
        line-height: 60px;
        color: #555;
        cursor: pointer;
    }
    .shownav {
        transform: scale(1);
        padding-top: 70px;
    }
    .hide {
        display: none;
    }
    .icon-2 {
        color: #aaa !important;
        &:hover {
            color: #fff !important;
        }
    }
    .mobile-2 {
        background-color: #062f6a;
        transition: all 500ms ease-in 1s;
    }
    /* End Of header   ---------------------------------------------------------------------------------------------------------------------------------*/

    .home-1 {
        padding: 30px;
        letter-spacing: 3px;
        color: #eee;
        text-shadow: 3px 3px 20px #222,-3px -3px 20px #222; 
    }

    .home-2 {
        a{
            padding: 20px 0px;
        }
        img {
            border-radius: 10px;
            box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
            padding: 10px;
        }
    }

    .description,
    .technical {
        height: 250px;
    }
    .description {
        div {
            padding: 4vw 4vw;
        }
        p {
            font-size: calc(10px + 1.5vw);
            text-align: justify;
        }
    }

    .slider-description {
        height: 150px;
        p {
            font-size: calc(10px + 1vw);
        }
    }

    .contact-list a {
        font-size: 20px;
    }

    .email-div {
        width: 100%;
    }

}

@media all and (min-width:576px) and (max-width:767px) {
    .mobile-menu {
        width: 100%;
        z-index: 9;
    }
    .navigation {
        width: 100%;
        height: 100vh;
        background-color: #062f6a;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
        transform-origin: top left;
        overflow: auto;
        li {
            width: 100%;
            margin: 10px 0px;
            text-align: center;
        }
        a{
            color: #aaa;
            transition: all 300ms linear;
            &:hover {
                color: #fff;
            }
        }
    }
    .EN {
        line-height: 60px;
        color: #555;
        cursor: pointer;
    }
    .shownav {
        transform: scale(1);
        padding-top: 70px;
    }
    .hide {
        display: none;
    }
    .icon-2 {
        color: #aaa !important;
        &:hover {
            color: #fff !important;
        }
    }
    .mobile-2 {
        background-color: #062f6a;
        transition: all 500ms ease-in 1s;
    }
    /* End Of header   ---------------------------------------------------------------------------------------------------------------------------------*/

    .home-1 {
        padding: 30px;
        letter-spacing: 3px;
        color: #eee;
        text-shadow: 3px 3px 20px #222,-3px -3px 20px #222; 
    }

    .home-2 {
        a{
            padding: 20px 0px;
        }
        img {
            border-radius: 10px;
            box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
            padding: 10px;
        }
    }

    .description,
    .technical {
        height: 250px;
    }

    .description {
        div {
            padding: 4vw 4vw;
        }
        p {
            font-size: calc(13px + 0.8vw);
            text-align: justify;
        }
    }

    .slider-description {
        height: 200px;
        p {
            font-size: calc(10px + 1vw);
        }
    }

    .contact-list a {
        font-size: 28px;
    }

    .email-div {
        width: 70%;
    }

}
@media all and (min-width:768px) and (max-width:991px) {
    .mobile-menu {
        width: 100%;
        z-index: 9;
    }
    .navigation {
        width: 100%;
        height: 100vh;
        background-color: #062f6a;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
        transform-origin: top left;
        overflow: auto;
        li {
            width: 100%;
            margin: 10px 0px;
            text-align: center;
        }
        a{
            color: #aaa;
            transition: all 300ms linear;
            &:hover {
                color: #fff;
            }
        }
    }
    .EN {
        line-height: 60px;
        color: #555;
        cursor: pointer;
    }
    .shownav {
        transform: scale(1);
        padding-top: 70px;
    }
    .hide {
        display: none;
    }
    .icon-2 {
        color: #aaa !important;
        &:hover {
            color: #fff !important;
        }
    }
    .mobile-2 {
        background-color: #062f6a;
        transition: all 500ms ease-in 1s;
    }
    /* End Of header   ---------------------------------------------------------------------------------------------------------------------------------*/

    .home-1 {
        padding: 30px;
        letter-spacing: 3px;
        color: #eee;
        text-shadow: 3px 3px 20px #222,-3px -3px 20px #222; 
    }

    .home-2 {
        a{
            padding: 20px 0px;
        }
        img {
            border-radius: 10px;
            box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
            padding: 10px;
        }
    }

    .description,
    .technical {
        height: 270px;
    }

    .description {
        div {
            padding: 2vw 4vw;
        }
        p {
            font-size: calc(11px + 0.8vw);
            text-align: justify;
        }
    }

    .slider-description {
        height: 180px;
        p {
            font-size: calc(10px + 0.9vw);
        }
    }

    .contact-list a {
        font-size: 28px;
    }

    .email-div {
        width: 50%;
    }

}

@media all and (min-width:992px) {
    .navigation {
        height: 60px;
        li {
            height: 100%;
        }
        a {
            color: #444;
            display: block;
            height: 100%;
            line-height: 60px;
            &::after {
                display: block;
                margin: auto;
                content: "";
                height: 2px;
                background-color:#222;
                margin-top: -10px;
                transform: scaleX(0);
                transform-origin: left;
                transition: all 300ms ease;
            }
            &:hover::after {
                    transform: scaleX(1);
            }
            &:hover {
                color:#222;
            }
        }
    }

    .hide {
        display: none;
    }
        /* End Of header  ---------------------------------------------------------------------------------------------------------------------------*/
    
        .home-1 {
            padding: 0px 30px;
            letter-spacing: 3px;
            color: #eee;
            text-shadow: 3px 3px 20px #222,-3px -3px 20px #222; 
        }

        .home-2 {
            a{
                padding: 100px 0px;
            }
            img {
                border-radius: 10px;
                box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
                padding: 10px;
            }
        }
        
        .description,
        .technical {
            height: 260px;
        }

        .description {
            div {
                padding: 1vw 2vw;
            }
            p {
                font-size: 19px;
                text-align: justify;
            }
        }

        .slider-description {
            height: 200px;
            p {
                font-size: 17px;
            }
        }

        .contact-list a {
            font-size: 28px;
        }

        .email-div {
            width: 40%;
        }
    
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    color: #fff;
    top: 0;
    z-index: 4;
    li {
        list-style-type: none;
    }
}

.nav {
    width: calc(100% - 32px);
    max-width: 1200px;
    border-bottom: 1px solid #bbb;
    background-color: white;
}

.navigation {
    a{
        text-decoration: none;
        font-weight: bold;
        display: block;
        line-height: 60px;
    }
}

.lang {
    line-height: 60px;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    >div {
        background-color: #fff;
        position: absolute;
        line-height: 30px;
        border: 1px solid #999;
        a {
            text-decoration: none;
            padding: 5px 40px;
            color: #444;
        }
    }
}

.fa-mobile {
    background-color: #fff;
        position: absolute;
        right: 20px;
        line-height: 30px;
        border: 1px solid #999;
        a {
            display: block;
            text-decoration: none;
            padding: 10px 20px;
            color: #444;
        }
}

.logo {
    padding-top: 10px;
    z-index: 5;
    span {
        background-color: #1b9aaf;
        transition: all 300ms linear;
        border-radius: 10px;
    }
}

.icon {
    line-height: 60px;
    font-size: 40px;
    color: #555;
    font-weight: bold;
    z-index: 6;
    cursor: pointer;
    transition: all 300ms linear;
}

    /* End Of header  ---------------------------------------------------------------------------------------------------------------------------------*/

.home {
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 60px;
    background-image: linear-gradient(135deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/back.jpg");
    background-size: cover;
}

.button {
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    border: 2px solid rgb(8, 19, 53);
    background-image: linear-gradient(to right,rgb(8, 19, 53) 50%, transparent 50%);
    background-size: 300% 100%;
    background-position: 100%;
    transition: all 500ms linear;
    &:hover {
        color: #fff;
        background-position: 0%;
        box-shadow: 2px 2px 15px #999, -2px -2px 15px #999;
    }
}

.simple-row {
    padding-top: 100px;
    padding-bottom: 40px;
    h2 {
        line-height: 60px;
    }
}

.about-me {
    width: calc(100% - 32px);
}

.technical {
    >div {
        height: 100%;
        border: 2px solid #444;
        border-radius: 3px;
        background-image: linear-gradient(to left,rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/1.webp");
        background-size: cover;
        transition: all 300ms linear;
        cursor: pointer;
        &:hover {
            // background-image: linear-gradient(to left,rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/1.webp");
            opacity: 0.9;
        }
    }

    span {
        visibility: hidden;
        color: #fff;
        font-size: 30px;
        transition: all 300ms linear;
        transform: scale(0.7);
        background-color: transparent;
    }
    &:hover span {
        visibility: visible;
        transform: scale(1);
    }
}

.slider {
    transition: all 500ms linear;
    img {
        cursor: pointer;
        transition: all 500ms linear;
        &:hover {
            opacity: 0.7;
        }
    }
}

.slider-description {
    border: 1px solid #444;
    text-align: justify;
}

.slider-control-items{
    list-style-type: none;
    margin: 0px 8px;
    cursor:pointer;
}

.skills,
.services,
.projects,
.about-me {
    padding-top: 60px;
    max-width: 1200px;
    >div>h2 {
        &::after {
            display: block;
            content: "";
            margin-top: 2px;
            height: 2px;
            width: 50px;
            background-color: #444;
        }
    }
}

.progress-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    display: flex;
    div {
        width: 0;
        height: 100%;
        background-color: #0d6efd;
        color: #fff;
    }
}

.progress-todo {
    width: 100% !important;
    background-image: repeating-linear-gradient(315deg, #0d6efd 0%,#0d6efd 3%, #3183fd 3%,#3183fd 6%)  !important;
}

.design {
   width: 180px;
   height: 180px;
    background: url("../images/icon.jpg") -68px -46px;
    margin: auto;
    transform: translateX(-500px);
    cursor: pointer;
    transition: all 500ms linear;
    &:hover {
        opacity: 0.8;
    }
}
.development {
   width: 180px;
   height: 180px;
    background: url("../images/icon.jpg") -294px -46px;
    margin: auto;
    transform: translateX(500px);
    cursor: pointer;
    transition: all 500ms linear;
    &:hover {
        opacity: 0.8;
    }
}
.optimization {
   width: 180px;
   height: 180px;
    background: url("../images/icon.jpg") -68px -514px;
    margin: auto;
    transform: translateX(-500px);
    cursor: pointer;
    transition: all 500ms linear;
    &:hover {
        opacity: 0.8;
    }
}
.repair {
   width: 180px;
   height: 180px;
    background: url("../images/icon.jpg") -745px -745px;
    margin: auto;
    transform: translateX(500px);
    cursor: pointer;
    transition: all 500ms linear;
    &:hover {
        opacity: 0.8;
    }
}

.html-css {
    :first-child{
        background: url("../images/long-shadow-web-icons.jpg") -130px -250px ;
    }
    :last-child{
        background: url("../images/long-shadow-web-icons.jpg") -130px -10px ;
    }
}
.boot-sass {
    :first-child{
        background: url("../images/long-shadow-web-icons.jpg") -10px -10px ;
    }
    :last-child{
        background: url("../images/long-shadow-web-icons.jpg") -130px -130px ;
    }
}
.js-jquery {
    :first-child{
        background: url("../images/long-shadow-web-icons.jpg") -10px -250px ;
    }
    :last-child{
        background: url("../images/long-shadow-web-icons.jpg") -10px -370px ;
    }
}

.my-portfolio {
    :first-child{
        background-image: linear-gradient(to right,rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url("../images/portfolio.jpg");
        background-size: contain;
    }
    :last-child{
        background-image: url("../images/portfolio2.jpg");
        background-size: contain;
    }
}

.html-css,
.boot-sass,
.js-jquery,
.my-portfolio {
    width: 220px;
    height: 100px;
    cursor: pointer;
    :first-child{
        width: 100px;
        height: 100px;
        transform-origin: bottom left;
        transition: all 300ms linear;
        border-radius: 50%;
    }
    :last-child{
        width: 100px;
        height: 100px;
        transform-origin: bottom right;
        transition: all 300ms linear;
        border-radius: 50%;
    }
    &:hover {
        :first-child {
            transform: rotateZ(-5deg);
        }
        :last-child {
            transform: rotateZ(5deg);
        }
    }
}
.projects-items {
    border: 2px solid #444;
    margin-top: 8px;
    margin-bottom: 8px;
    background-image: linear-gradient(to right,rgba(204,51,153,0.7) 50%, #f5f5f5 50%);
    background-size: 300% 100%;
    background-position: 100%;
    border-radius: 5px;
    transition: all 400ms linear;
    p {
        text-align: justify;
    }
    &:hover {
        background-position: 0%;
        color: #f5f5f5;
    }
    &:hover a {
        color: #f5f5f5;
    }
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: #444;
        font-weight: bold;
        &:hover {
            text-shadow: 4px 4px 20px rgb(25, 103, 210),-4px -4px 20px rgb(25, 103, 210);
        }
    }
}



.footer {
    background-image: linear-gradient(to left,rgba(0,80,120,0.5),rgba(0,120,80,0.5));
}

#contact {
    padding-top: 60px;
    max-width: 1200px;
}

.contact {
    max-width: 1200px;
    padding: 50px 24px;
}
.contact-list {
    i {
        transition: all 300ms linear;
    }
    a {
        display: block;
        text-decoration: none;
        padding: 0px 10px;
        margin: 0px 5px;
    }
    li {
        list-style-type: none;
    }
}
.offered-services,
.useful-links {
    li {
        list-style-type: none;
        a {
            display: block;
            text-decoration: none;
            background-color: rgba(0,0,0,0.3);
            border-radius: 2px;
            transition: all 300ms linear;
            &:hover {
                background-color: rgba(0,0,0,0.7);
                color: white !important;
            }
        }
    }
}

.contact-me {
    cursor: pointer;
}

.facebook:hover i {
    color: rgb(25, 103, 210) !important;
}
.instagram:hover i {
    color: #fc3607 !important;
}
.whatsapp:hover i {
    color: #ca3bbe !important;
}
.telegram:hover i {
    color: #402fd9 !important;
}
.email:hover i {
    color: #e34133 !important;
}
.linkedin:hover i {
    color: #ac561e !important;
}
.email-div-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin:left ;
    z-index: 10;
}

.email-div {
    height: 100%;
    overflow: auto;
    background-color: rgb(80, 80, 183);
    a {
        color: rgba(217, 228, 224, 0.5);
        border: 1px solid #fff;
        font-size: 21px;
        display: block;
        width: 80%;
    }
}
.email-close {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
}
.show-email {
    transform: scaleX(1);
}