@media all and (max-width: 575.98px) {
  .header {
    height: 40px;
  }

  .navigation {
    width: 50%;
    height: 100vh;
    padding-top: 40px;
    background-color: #3b3b3b;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    overflow: auto;
    transition: all linear 300ms;
    z-index: 10;
  }

  .navigation li {
    height: 40px;
    width: 100%;
    text-align: center;
  }

  .navigation a {
    line-height: 40px;
    color: #aaa;
    transition: all 300ms linear;
  }

  .navigation a:hover {
    color: #fff;
  }

  .shownav {
    transform: scaleX(1);
  }


  /* End Of header   ---------------------------------------------------------------------------------------------------------------------------------*/
  .home {
    margin-top: 40px;
    height: 200px;
  }

  .home-1 {
    letter-spacing: 2px;
    color: #eee;
    text-shadow: 3px 3px 20px #222, -3px -3px 20px #222;
  }

  .home-1 h1 ,
  .about-me h2,
  .skills h2 , 
  .services h2 ,
  .projects h2
   {
    font-size: 22px;
  }

  .home-1 h2 {
    font-size: 16px;
  }

  .home-2 {
    width: 100%;
  }

  .button {
    font-size: 14px;
  }


  .home-2 img {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
  }

  .description,
  .technical {
    height: 250px;
  }

  .description div {
    padding: 4vw 4vw;
  }

  .description p {
    font-size: calc(10px + 1.5vw);
    text-align: justify;
  }

  .contact-list a {
    font-size: 20px;
  }

}

@media all and (min-width: 576px) and (max-width: 767.98px) {
  .header {
    height: 60px;
  }

  .navigation li {
    height: 100%;
  }

  .navigation a {
    line-height: 60px;
    color: #444;
    display: block;
    height: 100%;
    line-height: 60px;
  }

  .navigation a::after {
    display: block;
    margin: auto;
    content: "";
    height: 2px;
    background-color: #222;
    margin-top: -10px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease;
  }

  .navigation a:hover::after {
    transform: scaleX(1);
  }

  .navigation a:hover {
    color: #222;
  }




  /* End Of header   ---------------------------------------------------------------------------------------------------------------------------------*/
  .home {
    margin-top: 60px;
    height: 200px;
  }

  .home-1 {
    letter-spacing: 2px;
    color: #eee;
    text-shadow: 3px 3px 20px #222, -3px -3px 20px #222;
  }

  .home-1 h1 ,
  .about-me h2,
  .skills h2 , 
  .services h2 ,
  .projects h2
   {
    font-size: 24px;
  }

  .home-1 h2 {
    font-size: 18px;
  }

  .button {
    font-size: 14px;
  }


  .home-2 img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin-top: 90px;
    margin-right: 32px;
    box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
  }

  .description,
  .technical {
    height: 250px;
  }

  .description div {
    padding: 4vw 4vw;
  }

  .description p {
    font-size: calc(13px + 0.8vw);
    text-align: justify;
  }

  .contact-list a {
    font-size: 28px;
  }

}

@media all and (min-width: 768px) and (max-width: 991.98px) {
  .header {
    height: 60px;
  }

  .navigation li {
    height: 100%;
  }

  .navigation a {
    line-height: 60px;
    color: #444;
    display: block;
    height: 100%;
    line-height: 60px;
  }

  .navigation a::after {
    display: block;
    margin: auto;
    content: "";
    height: 2px;
    background-color: #222;
    margin-top: -10px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease;
  }

  .navigation a:hover::after {
    transform: scaleX(1);
  }

  .navigation a:hover {
    color: #222;
  }

  /* End Of header   ---------------------------------------------------------------------------------------------------------------------------------*/
  .home {
    margin-top: 60px;
    height: 200px;
  }

  .home-1 {
    letter-spacing: 2px;
    color: #eee;
    text-shadow: 3px 3px 20px #222, -3px -3px 20px #222;
  }

  .home-1 h1 ,
  .about-me h2,
  .skills h2 , 
  .services h2 ,
  .projects h2
   {
    font-size: 26px;
  }

  .home-1 h2 {
    font-size: 18px;
  }

  .button {
    font-size: 14px;
  }


  .home-2 img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin-top: 90px;
    margin-right: 32px;
    box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
  }

  .description,
  .technical {
    height: 270px;
  }

  .description div {
    padding: 2vw 4vw;
  }

  .description p {
    font-size: calc(11px + 0.8vw);
    text-align: justify;
  }

  .contact-list a {
    font-size: 28px;
  }

  
}

@media all and (min-width: 992px) {
  .header {
    height: 60px;
  }

  .navigation li {
    height: 100%;
  }

  .navigation a {
    line-height: 60px;
    color: #444;
    display: block;
    height: 100%;
    line-height: 60px;
  }

  .navigation a::after {
    display: block;
    margin: auto;
    content: "";
    height: 2px;
    background-color: #222;
    margin-top: -10px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease;
  }

  .navigation a:hover::after {
    transform: scaleX(1);
  }

  .navigation a:hover {
    color: #222;
  }

  /* End Of header  ---------------------------------------------------------------------------------------------------------------------------*/
  .home {
    margin-top: 60px;
    height: 200px;
  }

  .home-1 {
    letter-spacing: 2px;
    color: #eee;
    text-shadow: 3px 3px 20px #222, -3px -3px 20px #222;
  }

  .home-1 h1 ,
  .about-me h2,
  .skills h2 , 
  .services h2 ,
  .projects h2
   {
    font-size: 28px;
  }

  .home-1 h2 {
    font-size: 18px;
  }

  .button {
    font-size: 14px;
  }


  .home-2 img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin-top: 90px;
    margin-right: 32px;
    box-shadow: 2px 2px 20px #222, -2px -2px 20px #222;
  }

  .description,
  .technical {
    height: 260px;
  }

  .description div {
    padding: 1vw 2vw;
  }

  .description p {
    font-size: 19px;
    text-align: justify;
  }

  .contact-list a {
    font-size: 28px;
  }

}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 4;
}

.header li {
  list-style-type: none;
}

.nav {
  max-width: 1200px;
}

.navigation a {
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.icon {
  line-height: 40px;
  font-size: 35px;
  color: #555;
  font-weight: bold;
  z-index: 6;
  cursor: pointer;
  transition: all 300ms linear;
}

/* End Of header  ---------------------------------------------------------------------------------------------------------------------------------*/
.home {

  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/back.jpg");
  background-size: cover;
}

.home-1 a {
  width: 88px;
}



.button {
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  color: #2b2b2b;
  border: 2px solid #081335;
  background-image: linear-gradient(to right, #fb8823 50%, #fd9d4a 50%);
  background-size: 300% 100%;
  background-position: 100%;
  transition: all 500ms linear;
}

.button:hover {
  color: #2b2b2b;
  background-position: 0%;
}

.home-wrapper {
  max-width: 700px;
}

.simple-row h2 {
  line-height: 60px;
}

.about-me {
  width: calc(100% - 32px);
}

.technical>div {
  height: 100%;
  border: 2px solid #444;
  border-radius: 3px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/1.webp");
  background-size: cover;
  transition: all 300ms linear;
  cursor: pointer;
}

.technical>div:hover {
  opacity: 0.9;
}

.technical span {
  visibility: hidden;
  color: #fff;
  font-size: 30px;
  transition: all 300ms linear;
  transform: scale(0.7);
  background-color: transparent;
}

.technical:hover span {
  visibility: visible;
  transform: scale(1);
}

.slider {
  transition: all 500ms linear;
}

.slider img {
  cursor: pointer;
  transition: all 500ms linear;
}

.slider img:hover {
  opacity: 0.7;
}


.slider-control-items {
  list-style-type: none;
  margin: 0px 8px;
  cursor: pointer;
}

.skills,
.services,
.projects,
.about-me {
  padding-top: 60px;
  max-width: 1200px;
}

.skills>div>h2::after,
.services>div>h2::after,
.projects>div>h2::after,
.about-me>div>h2::after {
  display: block;
  content: "";
  margin-top: 2px;
  height: 2px;
  width: 50px;
  background-color: #444;
}

.progress-bar {
  width: 80%;
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
  display: flex;
}

.progress-bar div {
  width: 0;
  height: 100%;
  background-color: #0d6efd;
  color: #fff;
}

.design {
  width: 180px;
  height: 180px;
  background: url("../images/icon.jpg") -68px -46px;
  margin: auto;
  transform: translateX(-500px);
  cursor: pointer;
  transition: all 500ms linear;
}

.design:hover {
  opacity: 0.8;
}

.development {
  width: 180px;
  height: 180px;
  background: url("../images/icon.jpg") -294px -46px;
  margin: auto;
  transform: translateX(500px);
  cursor: pointer;
  transition: all 500ms linear;
}

.development:hover {
  opacity: 0.8;
}

.optimization {
  width: 180px;
  height: 180px;
  background: url("../images/icon.jpg") -68px -514px;
  margin: auto;
  transform: translateX(-500px);
  cursor: pointer;
  transition: all 500ms linear;
}

.optimization:hover {
  opacity: 0.8;
}

.repair {
  width: 180px;
  height: 180px;
  background: url("../images/icon.jpg") -745px -745px;
  margin: auto;
  transform: translateX(500px);
  cursor: pointer;
  transition: all 500ms linear;
}

.repair:hover {
  opacity: 0.8;
}

.html-css :first-child {
  background: url("../images/long-shadow-web-icons.jpg") -130px -250px;
}

.html-css :last-child {
  background: url("../images/long-shadow-web-icons.jpg") -130px -10px;
}

.boot-sass :first-child {
  background: url("../images/long-shadow-web-icons.jpg") -10px -10px;
}

.boot-sass :last-child {
  background: url("../images/long-shadow-web-icons.jpg") -130px -130px;
}

.js-jquery :first-child {
  background: url("../images/long-shadow-web-icons.jpg") -10px -250px;
}

.js-jquery :last-child {
  background: url("../images/long-shadow-web-icons.jpg") -10px -370px;
}

.react-tailwind :first-child {
  background: url("../images/React_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.react-tailwind :last-child {
  background: url("../images/Tailwind_CSS_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100px;
  height: 100px;
}

.uiux :first-child {
  background: url("../images/figma-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.uiux :last-child {
  background: url("../images/ux.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100px;
  height: 100px;
}

.wp-woo :first-child {
  background: url("../images/Wordpress_Blue_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.wp-woo :last-child {
  background: url("../images/WooCommerce_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100px;
  height: 100px;
}

.html-css,
.boot-sass,
.js-jquery,
.react-tailwind,
.uiux,
.wp-woo {
  width: 220px;
  height: 100px;
  cursor: pointer;
}

.html-css :first-child,
.boot-sass :first-child,
.js-jquery :first-child,
.react-tailwind :first-child,
.uiux :first-child,
.wp-woo :first-child {
  width: 100px;
  height: 100px;
  transform-origin: bottom left;
  transition: all 300ms linear;
  border-radius: 50%;
}

.html-css :last-child,
.boot-sass :last-child,
.js-jquery :last-child,
.react-tailwind :last-child,
.uiux :last-child,
.wp-woo :last-child {
  width: 100px;
  height: 100px;
  transform-origin: bottom right;
  transition: all 300ms linear;
  border-radius: 50%;
}

.html-css:hover :first-child,
.boot-sass:hover :first-child,
.js-jquery:hover :first-child,
.react-tailwind:hover :first-child,
.uiux:hover :first-child,
.wp-woo:hover :first-child {
  transform: rotateZ(-10deg);
}

.html-css:hover :last-child,
.boot-sass:hover :last-child,
.js-jquery:hover :last-child,
.react-tailwind:hover :last-child,
.uiux:hover :last-child,
.wp-woo:hover :last-child {
  transform: rotateZ(10deg);
}

.projects-items {
  border: 2px solid #444;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: linear-gradient(to right, #8e8e8e 50%, #eee 50%);
  background-size: 300% 100%;
  background-position: 100%;
  border-radius: 12px;
  transition: all 400ms linear;
}

.projects-items p {
  text-align: justify;
}

.projects-items:hover {
  background-position: 0%;
  color: #f5f5f5;
}

.projects-items:hover a {
  color: #f5f5f5;
}

.projects-items li {
  list-style-type: none;
  height: 40px;
}

.projects-items a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  transition: all 300ms linear;
  display: block;
  height: 100%;
  line-height: 35px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
}

.projects-items a:hover {
  background-color: #1967d2;
}

.footer {
  background-image: linear-gradient(to left, rgba(0, 80, 120, 0.5), rgba(0, 120, 80, 0.5));
}

#contact {
  padding-top: 60px;
  max-width: 1200px;
}

.contact {
  max-width: 1200px;
  padding: 50px 0px;
}

.contact-list i {
  transition: all 300ms linear;
}

.contact-list a {
  display: block;
  text-decoration: none;
  padding: 0px 10px;
  margin: 0px 5px;
}

.contact-list li {
  list-style-type: none;
}

.offered-services li,
.useful-links li {
  list-style-type: none;
}

.offered-services li a,
.useful-links li a {
  display: block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: all 300ms linear;
}

.offered-services li a:hover,
.useful-links li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white !important;
}

.services {
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
  box-shadow: 2px 2px 10px black;
  border-radius: 24px;
  margin-top: 12px;
}
.contact-me {
  cursor: pointer;
}

.instagram:hover i {
  color: #fc3607 !important;
}

.whatsapp:hover i {
  color: #ca3bbe !important;
}

.telegram:hover i {
  color: #402fd9 !important;
}

.email:hover i {
  color: #e34133 !important;
}

.linkedin:hover i {
  color: #ac561e !important;
}
