@media all and (max-width:575px) {
    .navigation {
        max-width: 570px;
        font-size: 14px !important;
    }
    .nav-link,
    .nav-link:hover,
    .nav-link:focus
     {
        color: white;
    }
    .nav-item {
        height: 42px;
    }
    .nav-link {
        line-height: 42px;
    }
    /* End of Navigation */
    .this-is-me,
    .about-me,
    .offered-services {
        max-width: 570px;
    }
    .this-is-me-1 {
        margin-top: 100px;
    }
    .this-is-me-2 {
        width: 70%;
    }
    .img1,
    .img2 {
        max-width: 100%;
    }
    .about-me-p {
        max-width: 445px;
    }
    .this-is-me-h1 {
        font-size: 30px;
        color: #222;
    }
}
@media all and (min-width:576px) and (max-width:767px) {
    .navigation {
        max-width: 570px;
        font-size: 14px !important;
    }
    .nav-link,
    .nav-link:hover,
    .nav-link:focus
     {
        color: white;
    }
    .nav-item {
        height: 42px;
    }
    .nav-link {
        line-height: 42px;
    }
    /* End of Navigation */
    .this-is-me,
    .about-me,
    .offered-services {
        max-width: 570px;
    }
    
    .this-is-me-1 {
        margin-top: 100px;
    }
    
    .img1 {
        width: 348px;
    }
    .img2 {
        width: 510px;
    }
    .this-is-me-h1 {
        font-size: 30px;
        color: #222;
    }

}

@media all and (min-width:768px) and (max-width:991px) {
    .navigation {
        max-width: 750px;
        font-size: 14px !important;
    }
    .nav-link,
    .nav-link:hover,
    .nav-link:focus
     {
        color: white;
    }
    .nav-item {
        height: 42px;
    }
    .nav-link {
        line-height: 42px;
    }
        /* End of Navigation */
        .this-is-me,
        .about-me,
        .offered-services {
            max-width: 750px;
        }
        .img1,
        .img2 {
            width: 330px;
        }
        .this-is-me-h1 {
            font-size: 30px;
            color: #222;
        }

   
}


@media all and (min-width:992px) and (max-width:1199px) {
    .navigation {
        max-width: 960px;
    }
    .nav-link {
        font-weight: bold;
        color: #333;
        line-height: 70px;
    }
    .nav-link:hover {
        color:#8490ff;
    }
    .nav-item:hover .submenu-1 {
        display: block !important;
    }
    .level-2:hover .submenu-2 {
        display: block !important;
    }
        /* End of Navigation */
        .this-is-me,
        .about-me,
        .offered-services {
            max-width: 960px;
        }
        .img1,
        .img2 {
            width: 450px;
        }
        .this-is-me-h1 {
            font-size: 56px;
            color: #222;
        }
    
}

@media all and (min-width:1200px) {
    .navigation {
        max-width: 1140px;
    }
    .nav-link {
        font-weight: bold;
        color: #333;
        line-height: 70px;
    }
    .nav-link:hover {
        color:#8490ff ;
    }
    .nav-item:hover .submenu-1 {
        display: block !important;
    }
    .level-2:hover .submenu-2 {
        display: block !important;
    }
        /* End of Navigation */
        .this-is-me,
        .about-me,
        .offered-services {
            max-width: 1140px;
        }
        .img1 {
            width: 483px;
        }
        .img2 {
            width: 540px;
        }
        .this-is-me-h1 {
            font-size: 60px;
            color: #222;
        }

   
}

                                           /* Navigation */
#offcanvas-nav {
    width: 260px;
    background-color: rgba(0,0,0,0.9);
}

.navigation {
    height: 70px;
    font-size: 12px;
}

.navbar-toggler {
    box-shadow: none !important;
    position: fixed;
    right: 15px;
}

.active {
    color: #8490ff !important;
}
.submenu-1 {
    width: 200px;
    margin-left: -120px;
    box-shadow: 1px 1px 40px rgba(132, 144, 255, 0.15), -1px -1px 40px rgba(132, 144, 255, 0.15) ;
}
.submenu-2  {
    width: 200px;
    margin-left: -216px;
    margin-top: -40px;
    box-shadow: 1px 1px 40px rgba(132, 144, 255, 0.15), -1px -1px 40px rgba(132, 144, 255, 0.15) ;

}
.submenu-1 li {
    list-style-type: none;
}
.submenu-1 a {
    line-height: 25px;
}

.card-body {
    background-color: transparent;
    border: none;
}
.nav-link {
    height: 100%;
}
.submenu-li {
    list-style-type: none;
}
.lh-i {
    line-height: 45px;
}
.level-2-i {
    line-height: 25px;
}
                                                    /* End of Navigation */
.this-is-me-main {
    background-color: #f9f9ff;
}
.this-is-me {
    height: 750px;
}
.about-me {
    padding-top: 120px;
}

.discover-btn {
    line-height: 42px;
    background-image: linear-gradient(to right, #8490ff, #62dbfc);
    font-size: 14px;
}
.this-is-me-h6 {
    font-size: 14px;
    color: #444;
}
.this-is-me-p {
    color: #777;
}

.offered-services {
    padding: 120px 0;
}
.offered-services p {
    font-size: 16px;
    color: #777;
    max-width: 570px;
    margin: 0 auto;
}
.offered-services h4 {
    font-size: 18px;
    color: #222;
}
.offered-services span {
    color: #222;
}
.offered-services-boxes:hover .offered-services-boxes>a>h4 {
    color: #8490ff;
}

.counters {
    padding: 120px 0;
    background-image: linear-gradient(to right, #8490ff, #62dbfc);
}